run/
.gradle/
build/
gradle-app.setting

## IntelliJ IDEA

.idea/
*.iml
*.iws
*.ipr

## Eclipse

eclipse/
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
README.txt
forge-1.11.2-13.20.0.2228-changelog.txt
gradle.properties
StartDecompAndEclipse.bat
gradle/wrapper/gradle-wrapper.properties
gradlew
gradle/wrapper/gradle-wrapper.jar
gradlew.bat
